## Setup py requirements
jsonpickle
six
redis
fakeredis
future
numpy
typing
ruamel.yaml
requests
tensorflow
h5py
apscheduler
tqdm
ConfigArgParse
networkx
pykwalify
coloredlogs
flask
flask_cors
scikit-learn
rasa_nlu
colorhash
pika
jsonschema
packaging
gevent
pytz
rasa-core-sdk
rasa_core
pymongo
python-dateutil
spacy
sklearn_crfsuite
keras-applications
keras-preprocessing==1.0.5
